.main-chat__message
  .main-chat__message__upper-info
    .main-chat__message__upper-info__talker
      = message.user.name
    .main-chat__message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main-chat__message__text
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'main-chat__message__text__image' if message.image.present?